/* Sekcja Portfolio */
.portfolio {
    padding: 6rem 2rem;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
    position: relative;
    display: inline-block;
}

.portfolio h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffdd57;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.portfolio h2:hover::after {
    transform: scaleX(1);
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.project {
    background: #262626;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 250px; /* Mniejszy rozmiar kafelka */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 221, 87, 0.3);
}

.project-image {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.project-image img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project:hover .project-image img {
    transform: scale(1.1);
}

.project h3 {
    margin: 1.5rem 0 1rem;
    font-size: 1.75rem;
    color: #fff;
}

.project p {
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.6;
}
